# --- Python Internals ---
__pycache__/
*.py[cod]
# Ignore local cache data
cache/

# --- Virtual Environments ---
.venv/
venv/
env/

# --- For potential future notebooks ---
.ipynb_checkpoints/

# --- OS System Files ---
.DS_Store
Thumbs.db
*Zone.Identifier*

# --- MLOps Artifacts ---
# Exclude generated model binaries
model_artifacts.pkl
models/

# --- Datasets ---
# Uncomment if dataset exceeds 100MB
# melb_data.csv

# Log di sistema e metriche
app_metrics.log

# Eventuali altri file di log
*.log
